<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomKeyboardExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MyEditor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF1EB6EC1DD01E710038BE19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFC94F8A1DC74A190016B9E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFC94FA31DC74A190016B9E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFC94FAE1DC74A190016B9E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
